<html>
    <form method="POST" action="{{url_for('process')}}">
        <center>
            <h2>Sign Up Page!!</h2>
            Name
            <input type="text" name="name" placeholder="Name"><br><br>
            Email
            <input type="text" name="email" placeholder="Email"><br><br>
            Password
            <input type="password" name="password" placeholder="Enter your password"><br><br>
            Address
            <textarea placeholder="Enter your address" name="address"></textarea><br><br>
            <input type="submit" value="sign up"><br><br>
            <a href="login">Click here to Login</a>
        </center>
    </form>
</html>